@import "../../node_modules/maplibre-gl/dist/maplibre-gl.css";

.map-wrap {
  position: relative;
  width: 100%;
  // height: calc(100vh - 50px);
  /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-modal-dialog {
  height: var(--map-modal-height);
  max-width: var(--map-modal-max-width);
}

.map-modal-content {
  height: var(--map-modal-height);
  width: var(--map-modal-width);
}

.search-address-input-for-all {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 30vw;
  z-index: 100;
  border-radius: 7px;
  background-color: var(--white);
  padding: 10px;

  & span {
    width: 100%;
    margin: 10px !important;
    padding: 0 !important;
  }

  & .form-switch {
    padding: 0 !important;
    display: flex;
    align-items: center;

    & .form-check-label {
      margin-left: 5px;
    }

    & .form-check-input {
      margin-left: 0;
    }
  }
}

.dropdown-menu {
  z-index: 10000;
  right: 0;
  width: fit-content;
}

.dropdown-menu-button {
  z-index: 10000;
  max-height: 90vh;
  overflow-y: auto;
}

// .maplibregl-canvas{
//   width: 100% !important;
//   height: 100% !important;
// }

.popup-container {
  display: flex;
  flex-direction: column;
}

.popup-info-container {
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
}

.popup-container_title {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;

  &__sm {
    font-weight: 400;
  }
}

.open-item-from-popup {
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 1px solid var(--deep-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container_row-text {
  font-family: Manrope;
  margin-bottom: 0.25rem;
  color: var(--black);
  padding: 0 0.35rem;
  margin-bottom: 0.25rem;
}

.popup-container_row-title {
  color: var(--dark-gray);
}

.popup-container_bordered {
  padding-bottom: 0.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid var(--black);
}

.popup-container_add-to-calc {
  padding: 0.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: none;

  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;

  &:hover {
    border: none;
  }
}

.popup-container_wrapper {
  &>.maplibregl-popup-content {
    padding: 0;
  }
}

.custom-cluster {
  height: fit-content;
  padding: 3px;
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 12px;
  height: 28px;
  display: flex;

  &>i {
    height: 20px;
    width: 20px;

    &.fi_compare {
      width: 16px;
      height: 16px;
      align-self: center;
      margin-left: 3px;
    }
  }

  &_bordered {
    border-right: 1px solid var(--black);
  }

  &>div {
    padding: 0 3px 0 3px;
    font-size: 16px;
  }
}

.aim-marker {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  & .icon {
    margin-bottom: 1px;
  }
}

.maplibregl-popup {
  z-index: 100050;
}

.zoomToCluster {
  cursor: pointer;
}

.custom-annalog-popup {
  width: fit-content;
}

// .custom-cluster-popup {
//   display: grid;
//   grid-template-rows: auto min-content;
//   grid-column-gap: 1em;
// }

// .container>div {
//   border: 1px solid black;
//   padding: 0.5em;
// }

#setter {
  display: inline-block;
}

.custom-cluster-popup {
  position: relative;
  display: inline-block;

  & .custom-annalog-popup {
    margin-top: 30px;
  }
}

.wrap {
  overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  position: absolute;
  left: 0;
  right: 0;
}

.objects-in-cluster-scrollbar__disabled {
  background-color: var(--gray-l20);
}

.objects-in-cluster-scrollbar .icon {
  min-width: 16px;
  margin-bottom: 2px;
  cursor: pointer;
}

#objects-in-cluster-scrollbar {
  width: fit-content !important;
}

@-moz-document url-prefix() {
  #objects-in-cluster-scrollbar {
    scrollbar-width: thin;
    padding-bottom: 12px !important;
  }
}

.objects-in-cluster-item {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  min-width: 24px;
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__active {
    background-color: var(--gray-l20);
  }
}

.popup-field-value {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

  &::-webkit-scrollbar {
    width: 3px;
  }
}

.popup-address-value {
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }
}

.search-address-input-for-all .form-check {
  //margin-left: 40px !important;
}